/* Style all other elements except the bootstrap */
#header-section {
    height: 90px;
    background-color: rgba(247, 247, 247, 0.11);
    border-bottom: 1px solid rgba(247, 247, 247, 0.89);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#brand-name {
    color: whitesmoke;
}

#title {
    font-style: normal;
    font-weight: 900;
    line-height: 58px;

    color: #FFFFFF;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

#login-form {
    border-radius: 15px 15px 15px 15px;
    background-color: rgba(247, 247, 247, 0.05);
}

#hr1 {
    border: 1px gray;
}

/* Spatial Page */
#spatial-header-section {
    background: #EEB400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#spatial-brand-name {
    color: whitesmoke;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.1em;
}

#spatial-title {
    color: whitesmoke;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 700;
}

#spatial-drop-area {
    border: 0.51417px dashed #000000;
    border-radius: 10.2834px;
}

#graph {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#map {
    height: 600px;
    border: 1.3804px solid rgba(0, 0, 0, 0.25);
    border-radius: 13.804px;
}

#video-player {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}